{# Affichage de la page Ouvrage #}

{% extends "base.html.twig" %}

{% block body %}

    <h1>Ouvrages</h1>

    <p>Paragraphe</p>
    

    <select class="form-control" id="selCategory">
    {% for category in categories %}
    <option value="{{category.name}}">{{category.name}}</option>
    {% endfor %}
    </select>
    {% block javascripts %}
    <script type="text/javascript">
    var selCategory = document.getElementById("selCategory");
    </script>
    {% endblock %}
    {% for book in books %}
    <div class="text">{{book.title}}</div>
    {% endfor %}

{% endblock %}