{# Affichage de la page Ouvrage #}

{% extends "base.html.twig" %}

{% block body %}

    <h1>Ouvrages</h1>

    <p>Paragraphe</p>
    

    <select>
    {% for category in category %}
    <option>{{category}}</option>
    {% endfor %}
    </select>
    {% for book in book %}
    <div class="text">{{book.title}}</div>
    {% endfor %}

{% endblock %}