{# Affichage de la page Accueil #}

{% extends "base.html.twig" %}

{% block body %}

    <div class="row mb-4">
        <h1>Bienvenu sur KingBook</h1>
    </div>
    <div class="row mb-4">
        <h2>Dernière publications</h2>
    </div>
    <div class="row text-center mb-4"> 
        <div class="col-4 img">
            <img src="http://placehold.it/150x275" alt="..." class="img-thumbnail image">
            <div class="middle">
                <div class="text">John Doe</div>
            </div>            
        </div>
        <div class="col-4 img">
            <img src="http://placehold.it/150x275" alt="..." class="img-thumbnail image">
            <div class="middle">
                <div class="text">John Doe</div>
            </div>            
        </div> 
        <div class="col-4 img">
            <img src="http://placehold.it/150x275" alt="..." class="img-thumbnail image">
            <div class="middle">
                <div class="text">John Doe</div>
            </div>            
        </div>
    </div>
    <div class="row text-right"> 
        <div class="col-5 img">
            <img src="http://placehold.it/150x275" alt="..." class="img-thumbnail image">
            <div class="middle">
                <div class="text">John Doe</div>
            </div>            
        </div>
        <div class="col-5 img">
            <img src="http://placehold.it/150x275" alt="..." class="img-thumbnail image">
            <div class="middle">
                <div class="text">John Doe</div>
            </div>            
        </div>
    </div> 
    <div class="col-4">
            <img src="http://placehold.it/150x275" alt="..." class="img-thumbnail">            
        </div>        


{% endblock %}
